.navbar {
  background: white;
  color: black;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar a {
  color: rgb(100, 100, 100);
  font-weight: bold;
  margin: 0px 10px;
}

@media screen and (max-width: 1160px) {
  .navbar a {
    margin: 0px;
    padding: 10px 5px;
  }
}

#navbar.stick a:hover {
  color: rgb(223, 223, 223);
  background: #202020;
}

#navbar.stick a:focus {
  color: rgb(221, 221, 221);
  background: #202020;
}

#navbar.stick a:active {
  color: rgb(221, 221, 221);
  background: #202020;
}

.navbar.stick a {
  color: white;
}


.navbar i {
  padding: 7px;
  color: black;
}

.navbar.stick i {
  padding: 7px;
  color: white;
}

.stick {
  background-color: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#brand {
  margin: 0;
  padding: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#navbar {
  border: none;
}

#navbar a:hover{
  background: #e6e6e6;
  color: black;
}

#navbar.stick.dropdown-menu{
  color: white;
  background: #202020;
}
#navbar.stick ul.dropdown-menu {
  background: black;
}