@-webkit-keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.ng-enter {
  -webkit-animation: moveFromLeftFade .3s ease both;
  animation: moveFromLeftFade .3s ease both;
  z-index: 9999;
}


.ng-leave {
  -webkit-animation: moveToRightFade .3s ease both;
  animation: moveToRightFade .3s ease both;
  z-index: 8888;
}
