
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
    to      { transform: translateX(100%); }
}


@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}


