<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <p class="copyright text-muted">Copyright &copy; Polish Blockchain Wiki 2018</p>
            </div>
        </div>
    </div>
</footer> -->


<!-- Footer -->

<footer ng-controller="FooterCtrl" class="navbar navbar-default navbar-fixed-bottom" style="background-color: #eee;   margin-top: -50px;;">
    <div class="container" >
      <p class="navbar-text pull-left center-block">
          <i class="fas fa-graduation-cap fa-2x"></i>
                  © {{myDate | date : 'yyyy'}} Ta strona powstała w ramach projektu "Innowacja" pod opieką firmy
           <a  href="https://ttpsc.pl/" target="_blank" >Transition Technologies PSC</a>
      </p>
    </div>
</footer>
      <!-- Grid row -->