<!-- zrobic, zeby stopka byla na samym dole -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h3>
					Wpisz dowolny tekst, aby obliczyć jego wartości haszujące dla przykładowych funkcji skrótu
			</h3>
			<form name="inputText">
				<p>
					<textarea ng-change="calculate(textToCalculate)" required class="form-control" ng-model="textToCalculate" rows="5" placeholder="Wpisz tekst tutaj"></textarea>
				</p>
			</form>
		
		</div>
		
		<div class="col-md-offset-1	col-md-5 col-md-offset-1" style="word-wrap: break-word;">
			<h2>Wyniki prezentowane są w systemie szensastkowym.</h2>
			<h3><b>MD5:</b> <p>{{md5}}</p></h3>
			<h3><b>SHA1:</b> <p>{{sha1}}</p></h3>
			<h3><b>SHA256:</b> <p>{{sha256}}</p></h3>
			<h3><b>SHA512:</b> <p>{{sha512}}</p></h3>
			<h3><b>RIPEMD:</b> <p>{{rmd160}}</p></h3>
		</div>
	</div>			  
</div>




