<div class="jumbotron">
		<div class="container">
			<h2><b>Czym są funkcje haszujące?</b></h2>
			<p>Funkcje haszujące, inaczej funkcje skrótu, pozwalają na zamianę dowolnej długości ciągu znaków
				w krótką wartość o stałym rozmiarze, tzw. <var>skrót nieodwracalny</var> 
			</p>
			<p>
				W teorii możliwe jest aby dwa różne argumenty wejściowe posiadały tę samą wartość funckji, jednak 
				jest na to bardzo mała szansa.
			</p>
	
			<p>Poniższa aplikacja wizualizuje działanie 5 popularnych funkcji skrótu.</p>
		</div>
	</div>



<div class="container-fluid" style="margin: 100px;">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h3>
					
			</h3>
			<form name="inputText" ng-submit="hashing.clear()">
					<div class="alert alert-info" role="alert">Wpisz dowolny tekst aby obliczyć jego wartość dla podanych funkcji!</div>
				<p>
					<textarea id="myText"  required class="form-control" ng-model="hashing.textToCalculate" rows="5" placeholder="Wpisz tekst tutaj"></textarea>
				</p>
				<input ng-disabled="!hashing.textToCalculate" type="submit" value="Wyczyść" class="btn btn-primary btn-lg" >
			</form>
		</div>
		
		<div class="col-md-offset-1	col-md-5 col-md-offset-1" style="word-wrap: break-word;">
			<h2>Wyniki prezentowane są w systemie szensastkowym.</h2>
			<h3><samp><b>MD5:</b></samp> <p><var>{{hashing.md5}}</var></p></h3>
			<h3><samp></samp><b>SHA1:</b></samp> <p><var></var>{{hashing.sha1}}</var></p></h3>
			<h3><samp></samp><b>SHA256:</b></samp> <p><var></var>{{hashing.sha256}}</var></p></h3>
			<h3><samp></samp><b>SHA512:</b></samp> <p><var></var>{{hashing.sha512}}</var></p></h3>
			<h3><samp></samp><b>RIPEMD:</b></samp> <p><var></var>{{hashing.rmd160}}</var></p></h3>
		</div>
	</div>			  
</div>




