<div class="jumbotron">
	<div class="container">
		<h2><b>Jak udowodnić poświęcenie zasobów obliczeniowych?</h2></b>
		<p>Działanie Hash-Puzzle można porównać do klasycznych puzzli. Ich rozwiązanie wymaga niekiedy kilku godzin wytężonej pracy,
			jednak wystarczy rzut oka aby ocenić czy zostały ułożone poprawnie.
		</p>

		<p>Poniższa aplikacja pozwoli Ci na zapoznanie się ze sposobem działania zagadek Hash-Puzzle niezbędnych do poprawnego funkcjonowania
			struktury Blockchain. Dzięki nim sieć nie jest stale zalewana nowymi blokami, lecz dodać może je tylko węzęł, który jako
			pierwszy rozwiązał zagadkę. Pozostałe hosty mogą z łatwością zweryfikować poprawność uzyskanego wyniku.</p>
		<p>Wizualizacja zawiera pewne uproszczenia, ponieważ do obliczenia wartości funckcji skrótu używamy tylko daty, zmiennej oraz
			wprowadzonych przez Ciebie danych. Pomijamy indeks bloku oraz informacje zawarte w poprzednich blokach.</p>
		</p>
	</div>
</div>





<div class="container-fluid" style="margin: 100px;">
	<div class="hashContent row">
		<h4 style="text-align: center">

		</h4>
		</br>
		</br>
		<!-- <div>
			<h5>
				Wybierz stopien trudnosci i oblicz zagadke haszującą! Obliczanie dla wartości większej od 6 może chwilę potrwać :)
			</h5>
		</div> -->




		<div class="col-md-5 col-md-offset-1">




			<form name="inputText" ng-submit="findHashValue()">
				<p>
					<div class="alert alert-info" role="alert">Wybierz ilość poprzedzających zer i oblicz zagadkę!</div>
					<textarea id="myText" class="form-control" ng-model="data" rows="5" placeholder="Dane"></textarea>
					<div style="float: right;">
						Wybierz poziom trudności
						<select class="form-control" ng-model="difficulty" ng-options="x for x in difficulties" style="float: right;"></select>
					</div>

				</p>
				<input ng-disabled="mining" type="submit" value="Oblicz dla poziomu trudności {{difficulty}}" class="btn btn-primary btn-lg">
				</br>
				</br>
				<!-- <p>
					<input type="submit" value="Stop" class="btn btn-primary btn-lg">
					<button type="button" ng-click="stop()" class="btn btn-danger btn-lg" >STOP</button>
				</p> -->
			</form>
		</div>


		<div class="col-md-offset-1	col-md-5 col-md-offset-1 well" style="word-wrap: break-word;">
			<p>
				<samp>dane = </samp>
				<var>{{data}}</var>
			</p>

			<p>
				<samp>Próby = </samp>
				<var> {{nonce}}</var>
			</p>

			<p><samp>Obliczona wartość funkcji skrótu = </samp>
			<var ng-bind-html="result | boldZeros: difficulty"></var>
			</p>
			<p>
			<samp>Dzisiejsza data = </samp>
			<var >{{date | date:'yyyy-MM-dd'}}</var>
			</p>

			<p>
			<samp>Poziom trudności = </samp>
			<var>{{difficulty}}</var>
			</p>
		</div>
	</div>
</div>