<div class="container-fluid">
      <div class="jumbotron">
          <h1>Możliwości Blockchain</h1>
          <!--carousele ? :) -->
        
        </div>

        

<div class="container">
    <div class="row marketing">
        <!-- to jest do zmiany i tak-->
        <!--moze 'obracajace' sie karty?-->
        <h4>Dlaczego blokchain?</h4>
        <hr>
       <h3>Bezpieczeństwo</h3>
        <p>Zaletą blockchain jest zapewnienie wysokiego poziomu zabezpieczeń. System jest chroniony przed atakami hakerów i oszustwami.</p>
        
        <h3>Prostota</h3>
        <p>Zapewnia łatwy mechanizm pozwalający użytkownikom bezpiecznie przesyłać dane między sobą i umożliwia łatwą kontrolę kont użytkowników.</p>
        
        <h3>Elastyczność</h3>
        <p>System stworzony w technologii blockchain nie musi być publicznym rejestrem ani systemem otwartym jeśli jest to niepożądane.</p>
        
        <h3>Prywatność</h3>
        <p>System może być w całości prywatny. Główne różnice między publicznym a prywatnym blockchainem znajdziecie na tej stronie.</p>
    </div>
  





