 <nav class="navbar navbar-inverse">
  <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Polish Blockchain Wiki</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/about">Co to Blockchain?</a></li>
        <!-- <li ng-repeat="element in navbarElements"><a href="{{element.link}}">{{element.text}}</a></li> -->
        <li><a href="#/authorization">Autoryzacja</a></li>
        <li><a href="#/basics">Podstawy</a></li>
        <li><a href="#/blockchain">Blockchain</a></li>
        <li><a href="#/choosingHistory">Wybieranie historii</a></li>
        <li><a href="#/demo">Demo</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hashing <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/distribution">Przykład użycia funkcji haszujących</a></li>
              <li><a href="#/histories">Hashing puzzle</a></li>
              <li><a href="#/hashing">Fukncje skrótu</a></li>
            </ul>
          </li>
        
        <li><a href="#/identification">Identyfikacja</a></li>
        <li><a href="#/payingForIntegrity">Opłata za podtrzymanie sieci</a></li>
        <li><a href="#/proofOfWork">Proof of work</a></li>
        <li><a href="#/rebase">Rebase</a></li>
        <li><a href="#/restrictions">Ograniczenia</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Więcej<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="element in navbarElements">
              <a href="{{element.link}}">{{element.text}}</a>
            </li>
          </ul>
        </li>
      </ul> -->
    </div>
  </div>
</nav>




